<%- include("header") -%>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Uh oh!</h1>
      <p class="lead">Book Not Found. Please try another name!!</p>
      <form action="/bookstore" method="get">
        <button class="btn btn-lg btn-warning" type="submit">Try Again</button>
      </form>          
    </div>
</div>

<%- include("footer") -%>