<%- include("header") -%>
<div class="container">
    <div class="mx-auto mt-4">
        <h1 class="text-center">Welcome to Our Bookstore</h1>
        <div class="text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae accusantium voluptatum impedit suscipit delectus cumque voluptatem nulla veniam assumenda dolor nam consequatur sunt reprehenderit deserunt, illum, pariatur voluptates fugiat iure?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugit autem quidem iusto odit ullam ipsum minima? Sed eius tempora animi saepe, minus tempore ratione delectus maxime dignissimos repudiandae labore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi perferendis placeat error deserunt in inventore voluptatibus voluptatum libero aperiam odio quos consectetur, optio obcaecati quia cum maiores mollitia ipsum.</p>
        </div>
        <div class="text-center">
            <a href="/bookstore" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</div>
<%- include("footer") -%>